@font-face {
	font-family: 'Colfax';
	src: url('./colfax-font/Colfax-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Colfax';
	font-weight: 800;
	src: url('./colfax-font/Colfax-Black.otf') format('opentype');
}

@font-face {
	font-family: 'Colfax';
	font-weight: bold;
	src: url('./colfax-font/Colfax-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Colfax';
	font-weight: 500;
	src: url('./colfax-font/Colfax-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Colfax';
	font-weight: 100;
	src: url('./colfax-font/Colfax-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Colfax';
	font-weight: 300;
	src: url('./colfax-font/Colfax-Light.otf') format('opentype');
}
